
.header {
  border-top: 6px solid $lt-grey;
}

.header .wrapper {
  padding: 12px 5%;

  @include bp-min-width($medium) {
    padding: $base 2%;
  }

  @include bp-min-width($mlarge) {
    padding: $base*2 2%;
  }

  @include bp-min-width(1300px) {
    padding: $base*2 5%;
  }
}


.logo {
  float: left;

  @include bp-min-width($medium) {
    position: absolute;
    top: -30px;
    left: 2%;
    z-index: 10;
    float: none;
    width: 180px;
  }

  @include bp-min-width($mlarge) {
    top: -32px;
    width: 232px;
  }

  @include bp-min-width(1300px) {
    left: 5%;
  }
}

.logo-full {
  display: none;
  
  @include bp-min-width($medium) {
    display: block;
    width: 180px;
  }

  @include bp-min-width($mlarge) {
    width: 232px;
  }
}

.logo-mobile {
  float: left;
  width: 160px;

  @include bp-min-width($medium) {
    display: none;
  }
  
  .mobile-title {
    @include font-size(24px);
    padding-top: 16px;
  }
}

.logo-mark {
  float: left;
  width: 60px;
  margin-right: 20px;
}
