
.header {
  border-top: 6px solid $lt-grey;
}

.header .wrapper {
  padding: 12px 5%;

  @include bp-min-width($medium) {
    padding: $base 2%;
  }

  @include bp-min-width(1300px) {
    padding: $base 5%;
  }
}


.logo {
  float: left;

  @include bp-min-max($medium, $xlarge) {
    @include cf;
    float: none;
    width: 400px;
    margin: 0 auto $base;
  }

  a {
    color: $navy;
  
    &:hover {
      color: $orange;
    }
  }
}

.logo-mark {
  display: block;
  float: left;
  width: 60px;
  margin-right: 20px;

  @include bp-min-width($medium) {
    width: 72px;
  }
}

.logo-text {
  float: left;
  padding-top: 17px;

  @include bp-min-width($medium) {
    padding-top: 12px;
  }
  
  .title {
    font-size: 24px;
    line-height: 1;
    font-weight: $bold;

    @include bp-max-width($medium) {
      display: none;
    }
  }
  
  .date {
    float: left;
    clear: left;
    color: $navy;
    font-size: 19px;

    @include bp-max-width($medium) {
      display: none;
    }
  }

  .mobile-title {
    font-size: 24px;
    line-height: 1;
    font-weight: $bold;

    @include bp-min-width($medium) {
      display: none;
    }
  }

}
