
.sidebar {
  .block {
    margin-bottom: $base;
    padding: 16px 20px 20px;
    background: #fff;
    border: 1px solid $lt-grey;

    @include bp-min-width($medium) {
      margin-bottom: $base*1.5;
      padding: 16px 20px 20px;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  .block-title {
    margin-bottom: 12px;
  }
  
  p {
    @include font-size(15px);
    margin-bottom: 12px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.sidebar .block-newsletter {
  p {
    margin-bottom: 12px;
  }
}