
[class*="icon-"] {
  display: inline-block;
}

.icon-arrow-down {
  width: 33px;
  height: 19px;
  background: $arrow-down no-repeat 0 0;
}

.icon-arrow-right {
  width: 23px;
  height: 23px;
  background: $arrow-right no-repeat 0 0;
}
