
.body img {
  height: auto !important;
}

$hero: image-url("hero.jpg");
$hero-int-01: image-url("hero-int-01.jpg");
$hero-int-02: image-url("hero-int-02.jpg");

$arrow-down: image-url("arrow-down.svg");
$arrow-right: image-url("arrow-right.svg");