
.body img {
  height: auto !important;

  @include bp-max-width($small) {
    display: block;
    margin: 18px 0 !important;
    float: none !important;
  }
}

$hero: image-url("hero.jpg");
$hero-int-01: image-url("hero-int-01.jpg");
$hero-int-02: image-url("hero-int-02.jpg");

$arrow-down: image-url("arrow-down.svg");
$arrow-right: image-url("arrow-right.svg");