
.messages {
  padding: 20px;
  color: #fff;
  text-align: center;
  
  &.status {
    background: $green;
  }
  
  &.error {
    display: none;
    background: $red;
  }
  
  .krumo-root {
    text-align: left;
    color: $black;
  }
}