
.organize-steps {
  max-width: 800px;
  margin: 0 auto;
  
  .step {
    position: relative;
    margin-bottom: $base;
    padding: 0 40px $base 70px;
    border-bottom: 1px solid $lt-grey;

    @include bp-min-width($xsmall) {
      padding: 0 40px $base 110px;
    }

    @include bp-min-width($medium) {
      min-height: 168px;
      margin-bottom: $base*2;
      padding: 0 40px $base*2 150px;
    }
  }
}

.step-number {
  @include font-size(40px);
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: $orange;
  border-radius: 50%;
  color: #fff;
  line-height: 46px;
  font-weight: $bold;
  text-align: center;

  @include bp-min-width($xsmall) {
    @include font-size(52px);
    width: 80px;
    height: 80px;
    line-height: 76px;
  }

  @include bp-min-width($medium) {
    @include font-size(72px);
    width: 120px;
    height: 120px;
    line-height: 110px;
  }
}

.organize-steps {
  h2 {
    margin-bottom: 12px;
    color: $red;
    font-weight: $bold;
    font-style: italic;
  }
  p {
    @include font-size(18px);
    line-height: 1.5;
  }
}

.organize-steps .step:nth-child(6) {
  p {
    margin-bottom: 16px;
  }
  
  p:nth-of-type(2) {
    margin-bottom: 0;
  }
  
  p:nth-of-type(3) {
    color: $dk-grey;
    font-weight: $semi;
    font-style: italic;
  }
  
  .ss-icon {
    margin-right: 20px;
    font-size: 50px;
    line-height: 1;
  }
}

.steps-footer {
  text-align: center;

  @include bp-min-width($medium) {
    padding: 0 10%;
  }
}


