
.home-info-blocks {
  @include cf;
  text-align: center;

  [class*="col-"] {
    padding: $base 3%;
  }
  
  .icon {
    @include scale(0);
    width: 132px;
    height: 132px;
    background: $red;
    border-radius: 50%;
    margin: 0 auto $base;
  }
  
  h2 {
    max-width: 280px;
    margin: 0 auto 12px;
    font-weight: $bold;
  }
  
  p {
    margin-bottom: $base;
    padding: 0 5%;
  }
  
  .icon-arrow-right {
    margin-left: 2px;
    vertical-align: -5px;
  }
}

.animate .icon {
 @include animation(zoomIn 1s 0.5s both);
}

.bottom {
  @include cf;
  background: $creme;

  [class*="col-"] {
    padding: $base*2 5%;
    text-align: center;
    border-top: 1px solid $lt-grey;
    
    @include bp-min-width($large) {
      padding: $base*3 2%;
    }

    &:first-of-type {
      border-right: 1px solid $lt-grey;
    }
  }
}

.bottom .block-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.bottom .social-links {
  @include cf;

  li {
    display: inline-block;
    margin: 0 16px;
  }

  .ss-icon {
    font-size: 56px;
    line-height: 1.5em;
  }
}

.bottom .hashtags {
  color: $dk-grey;
  font-size: 20px;
  line-height: 1.5;
  font-weight: $semi;
  font-style: italic;
  
  li {
    display: inline-block;
    margin: 0 12px;
  }
}

.bottom .block-newsletter {
  .form-newsletter {
    margin: 0 auto;
  }

  p {
    margin: 0 auto 20px;
  
    @include bp-min-width($medium) {
      max-width: 460px;
    }
  }
}


.song-download {
  background: $blue;
  color: #fff;
  text-align: center;
  
  .wrapper {
    padding: $base 5%;
  }
  
  p {
    @include font-size(24px);

    @include bp-min-width($large) {
      display: inline-block;
    }
  }
  
  p:last-child {
    margin-top: 12px;

    @include bp-min-width($large) {
      margin: 0 0 0 32px;
    }
  }
}

.lets-dance {
  background: $orange;
  color: #fff;
  text-align: center;
  
  .wrapper {
    padding: $base 5%;

    @include bp-min-width($medium) {
      padding: $base 2%;
    }
  }

  p {
    font-size: 24px;
    line-height: 28px;

    @include bp-min-width($large) {
      display: inline;
    }
  }
  
  .message {
    @include bp-max-width($large) {
      margin-bottom: 12px;
    }
  }
  
  .btn {
    margin-top: 12px;
    
    @include bp-min-width($large) {
      margin-left: 32px;
    }
  }
}